.About {
    width: 100%;
    height: auto;
    /* margin-bottom: 100px; */
    padding-top: 5rem;
}

.row-about {
    display: flex;
}

.column-about {
    width: 50vw;
    padding: 10px;
}

.row-about:after {
    content: "";
    display: table;
    clear: both;
}

#about-img {
    display: flex;
    justify-content: center;
} 

#about-img img {
    width: 30vw;
    height: 75vh;
    border-radius: 10px;
    /* filter: drop-shadow(8px 8px 10px grey); */
}

#aboutLogo {
    color: rgba(255, 255, 255, .6);
    letter-spacing: 4px;
    font-size: 12.5em;
    font-weight: 1000;
    opacity: 0.2;
    margin-left: -5rem;
    margin-top: -3.5rem;
}

#name {
    color: #fff;
    font-size: 2.2em;
    margin-left: 3rem;
    margin-top: -7.5rem;
}

#aboutMe {
    color: rgba(255, 255, 255, .6);
    font-size: 1.5em;
    letter-spacing: 2.5px;
    width: 500px;
    margin-left: 3rem;
    margin-top: 4rem;
    text-align: justify;
}

#resumeLink {
    margin-left: 3rem;
    margin-top: 1rem;
}

#resumeLink a {
    text-decoration: none;
    color: #2f89fc;
    font-size: 1.5rem;
    font-weight: 400;
    /* margin-right: -350px;
    margin-top: 310px; */
    /* margin-left: 5rem; */
}

#resumeLink a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, .6);
}

.link {
    margin-left: 3rem;
    margin-top: 2rem;
}

.fa {
    padding: 20px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .fa:hover {
      color: #fff;
  }

  .fa-facebook {
    background: rgba(255, 255, 255, .05);
    color: #2f89fc;
  }
  
  .fa-twitter {
    background: rgba(255, 255, 255, .05);
    color: #2f89fc;
  }

  .fa-instagram {
  background: rgba(255, 255, 255, .05);
  color: #2f89fc;
  }

#simple-contact {
    margin-left: 3rem;
    margin-top: 2rem;
}

#simple-contact #title {
    color: #fff;
    font-size: 25px;
}

#simple-contact .contact-t {
    margin-top: 25px;
    font-size: 20px;
    color: rgba(255, 255, 255, .6);
} 

#simple-contact  .contact-body {
    color: #2f89fc;
    margin-left: 75px;
    margin-top: -20px;
}

@media only screen 
/* and (min-width : 1224px) */
and (max-width: 1366px)
and (-webkit-min-device-pixel-ratio: 1) {
    .About {
        padding-top: 3rem;
    }

    #aboutLogo {
        font-size: 11.5rem;
        margin-top: -3.5rem;
    }

    #name {
        font-size: 2em;
        margin-left: 2.5rem;
    }

    #aboutMe {
        font-size: 1.25em;
        width: 450px;
        margin-left: 2.5rem;
        margin-top: 3.5rem;
    }

    #resumeLink {
        margin-left: 2.5rem;
        margin-top: 0.5rem;
    }

    #resumeLink a {
        font-size: 1.25em;
    }

    .link {
        margin-left: 2.5rem;
        margin-top: 1rem;
    }

    .fa {
        font-size: 15px;
        width: 15px;
    }

    #simple-contact {
        margin-left: 2.5rem;
        margin-top: 1rem;
    }

    #simple-contact #title {
        font-size: 1.25em;
    }

    .contact-t {
        margin-top: 20px;
        font-size: 1em;
    }

    .contact-body {
        margin-left: 55px;
    }

    #about-img img {
        width: 27.5vw;
        height: 70vh;
    }
}