.About {
    width: 100%;
    height: auto;
    /* margin-bottom: 100px; */
    padding-top: 100px;
}

.row-about {
    display: flex;
}

.column-about {
    width: 50vw;
    padding: 10px;
}

.row-about:after {
    content: "";
    display: table;
    clear: both;
}

#about-img {
    display: flex;
    justify-content: center;
} 

#about-img img {
    width: 30vw;
    height: 45vw;
    border-radius: 10px;
    /* filter: drop-shadow(8px 8px 10px grey); */
}

#aboutLogo {
    color: rgba(255, 255, 255, .6);
    letter-spacing: 4px;
    font-size: 200px;
    font-weight: 1000;
    float: right;
    opacity: 0.2;
    margin-right: 50px;
    margin-top: -50px;
}

#name {
    color: #fff;
    font-size: 35px;
    margin-right: -500px;
    margin-top: 70px;
    float: right;
}

#aboutMe {
    color: rgba(255, 255, 255, .6);
    font-size: 20px;
    letter-spacing: 5px;
    width: 500px;
    float: right;
    margin-right: -625px;
    margin-top: 175px;
    text-align: justify;
}

#resumeLink a {
    text-decoration: none;
    color: #2f89fc;
    font-size: 25px;
    font-weight: 400;
    float: right;
    margin-right: -350px;
    margin-top: 310px;
}

#resumeLink a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, .6);
}

.link {
    float: right;
    margin-right: -350px;
    margin-top: 375px;
}

.fa {
    padding: 20px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .fa:hover {
      color: #fff;
  }

  .fa-facebook {
    background: rgba(255, 255, 255, .05);
    color: #2f89fc;
  }
  
  .fa-twitter {
    background: rgba(255, 255, 255, .05);
    color: #2f89fc;
  }

  .fa-instagram {
  background: rgba(255, 255, 255, .05);
  color: #2f89fc;
  }

#simple-contact {
    float: right;
    margin-right: -435px;
    margin-top: 475px;
}

#simple-contact #title {
    color: #fff;
    font-size: 25px;
}

#simple-contact .contact-t {
    margin-top: 25px;
    font-size: 20px;
    color: rgba(255, 255, 255, .6);
} 

#simple-contact  .contact-body {
    color: #2f89fc;
    margin-left: 75px;
    margin-top: -20px;
}