@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#rectangel1 {
  width: 1200px;
  height: 700px;
  border: 2px solid rgba(255, 255, 255, .05);
  position: fixed;
  z-index: -1;
  margin-left: 1000px;
  margin-top: -425px;
  transform: rotate(-25deg);
}

#rectangel2 {
  width: 1200px;
  height: 700px;
  border: 2px solid rgba(255, 255, 255, .05);
  position: fixed;
  z-index: -1;
  margin-left: -800px;
  margin-top: 700px;
  transform: rotate(-70deg);
}